<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>Name:</strong> <%= @prospect.name %></p>
    <p><strong>Email:</strong> <%= @prospect.email %></p>
    <p><strong>Phone:</strong> <%= @prospect.phone %></p>
    <p><strong>Description:</strong> <%= @prospect.description %></p>
    <p><strong>Budget:</strong> <%= @prospect.budget %></p>
    <p><strong>Timeframe:</strong> <%= @prospect.timetable %></p>
    <p><strong>Referred by:</strong> <%= @prospect.referral %></p>
  </body>
</html>